aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
annotated-types
anyio
astor
async-timeout
attrs
beautifulsoup4
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
Cython
datasets
dateparser
decorator
deprecation
dill
discord
discord.py
dotenv
easyocr
en_core_web_sm
eval_type_backport
exceptiongroup
filelock
fire
fonttools
frozenlist
fsspec
gotrue
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
imageio
iniconfig
invoice2data
Jinja2
langcodes
language_data
lazy_loader
lmdb
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
murmurhash
networkx
ninja
numpy
opt-einsum
packaging
paddle-bfloat
paddleocr
paddlepaddle
pandas
pillow
pluggy
postgrest
preshed
propcache
protobuf
pyarrow
pyclipper
pydantic
pydantic_core
Pygments
PyJWT
pytesseract
pytest
pytest-mock
python-bidi
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
RapidFuzz
realtime
regex
requests
rich
safetensors
scikit-image
scipy
shapely
shellingham
simsimd
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
storage3
StrEnum
stringzilla
sympy
termcolor
thinc
tifffile
tokenizers
tomli
torch
torchvision
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
wasabi
weasel
websockets
wrapt
xxhash
yarl